<%= form_for @user, html: {multipart: true} do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <h2>
        <%= error %>
      </h2>
    <% end %>
  <% end %>

  <div class="form">
    <%= f.text_field :username, placeholder: 'Username' %>
  </div>

  <div class="form">
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>

  <% if !@user.new_record? %>
    <div class="form">
      <%= f.text_field :birthday, placeholder: 'Birthday' %>
    </div>
    <div class="form">
      <%= f.text_field :gender, placeholder: 'Gender' %>
    </div>

    <div class="form">
      <%= f.text_field :city, placeholder: 'City' %>
    </div>

    <h3>
      Upload a profile pic!
    </h3>

    <div class="profUpload">

      <%= render partial: 'shared/avatarbig', locals: {f: @user}%>

      <div class="fileField">
        <%= f.file_field :avatar %>
      </div>
    </div>
  <% elsif @user.new_record?%>
    <div class="form">
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>


    <div class="form">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm your password' %>
    </div>
  <% end %>

  <div class="form">
    <%= f.submit @user.new_record? ? 'Sign Up!' : 'Save Changes' %>
  </div>

  <%= link_to 'cancel', @user.new_record? ? root_path : user_path(@user)  %>
<% end %>
