<div class="peepsCorral">
  <h3>
    <%= @user.username %> is following
  </h3>

  <% if @user.following.length != 0 %>
    <% @user.following.each do |f| %>
      <div class="peeps">
        <%= render partial: 'shared/avatarsmall', locals: {f: f}%>

        <%= link_to f.username, profile_path(f.username) %>

        <p>
          <%= render partial: 'shared/follow', locals:{f: f} %>
        </p>
      </div>
    <% end %>
  <% else %>
    <p>
      <%= @user.username %> isn't following anyone!
    </p>
  <% end %>
</div>
