<div class="userInfo">
  <div class="uhvatah">

    <%= render partial: 'shared/avatarbig', locals: {f: @user}%>

    <!-- <div class="avatarBig">
      <%= image_tag @user.avatar.url.to_s %>
    </div> -->

    <% if current_user and current_user == @user %>
      <div class="edit">
        <%= link_to 'Edit your profile', edit_user_path(@user) %>
      </div>
    <% end %>
  </div>

  <div class="userText">
    <h2 class="userHeader">
      <%= @user.username %>'s profile
    </h2>

    <div class="sideInfo">
      <% if @user.birthday? != nil %>
        <p>
          Birthday: <%= @user.birthday %>
        </p>
      <% end %>

      <% if @user.gender? != nil %>
        <p>
          Gender: <%= @user.gender %>
        </p>
      <% end %>

      <% if @user.city? != nil %>
        <p>
          City: <%= @user.city %>
        </p>
      <% end %>
    </div>

    <div class="fullow">
      <div class="fallow first">
        <p>
          <%= @user.following.length %>
        </p>

        <p>
          <%= link_to 'Following', following_path(@user.username) %>
        </p>
      </div>

      <div class="fallow">
        <p>
          <%= @user.followed.length %>
        </p>

        <p>
          <%= link_to 'Followers', followed_path(@user.username) %>
        </p>
      </div>
    </div>
  </div>
</div>

<hr class='diver'>

<% if current_user == @user %>
  <%= render partial: 'posts/new' %>
<% end %>

<div class="userPosts">
  <%= render @user.posts.reverse %>
</div>
