<h2 class="user">
  <%= @user.username %>'s profile
</h2>

<% if current_user and current_user == @user %>
  <div class="edit">
    <%= link_to 'Edit your profile', edit_user_path(@user) %>
  </div>
<% end %>

<% if current_user == @user %>
  <%= render partial: 'posts/new' %>
<% end %>

<div class="posts">
<% @posts.reverse.each do |post| %>


  <p>
    <%= post.user.username %> is watching <%= post.show %> and eating <%= post.food %>
  </p>

  <p>
    <%= time_ago_in_words(post.created_at) %> ago
  </p>

  <% if current_user and current_user == @user %>
    <%= link_to 'Delete Post?', user_post_path(current_user.id, post.id), method: :delete %>
  <% end %>
<% end %>
</div>
