<p>
  <span class="user"><%= link_to post.user.username, profile_path(post.user.username) %></span> is watching <%= post.show %> and eating <%= post.food %>
</p>

<p class="longAgo">
  <%= time_ago_in_words(post.created_at) %> ago
</p>
<% if current_user and current_user == @user %>
  <%= link_to 'Delete Post?', user_post_path(current_user.id, post.id), method: :delete, class: :deleter %>
<% end %>

<hr class='diver'>
