<%= render partial: 'new' %>

<div class="indexPosts">
  <% @posts.reverse.each do |post| %>
  <%= render partial: 'shared/avatarsmall', locals: {f: post.user}%>


    <p>
      <span class="user"><%= link_to post.user.username, user_path(post.user.id) %></span> is watching <%= post.show %> and eating <%= post.food %>
    </p>

    <p class="longAgo">
      <%= time_ago_in_words(post.created_at) %> ago

      <%= render partial: 'shared/follow', locals:{f: post.user} %>
    </p>

    <hr>
  <% end %>
</div>
