<%= render partial: 'new' %>

<% @posts.reverse.each do |post| %>
  <p>
    <%= link_to post.user.username, user_path(post.user.id) %> is watching <%= post.show %> and eating <%= post.food %>
  </p>

  <p>
    <%= time_ago_in_words(post.created_at) %> ago
  </p>
<% end %>
